name: Generate GitHub Metrics
on:
  schedule:
    - cron: "00 10 * * *"   # 10:00 EDT daily
  workflow_dispatch:
  push: {branches: ["master", "main"]}


jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Render metrics
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: Ammaar-Alam
          filename: github-metrics.svg

          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: America/New_York

          config_order: base.header, base.activity, base.community, base.repositories, base.metadata, languages, lines  

          # === Languages ===
          plugin_languages: yes
          plugin_languages_ignored: xml, csv, json, txt, procfile
          plugin_languages_sections: most-used
          plugin_languages_limit: 10
          plugin_languages_details: lines, percentage, bytes-size
          plugin_languages_indepth: no
          plugin_languages_categories: programming, data
          plugin_languages_other: no
          plugin_languages_recent_days: 14
          plugin_languages_recent_load: 10000
          plugin_languages_analysis_timeout: 120
          plugin_languages_analysis_timeout_repositories: 300

          # === Extras ===
          plugin_lines: no
          plugin_steam: yes
          plugin_steam_sections: player, most-played
          plugin_steam_games_limit: 1
          plugin_steam_playtime_threshold: 2
          plugin_steam_recent_games_limit: 0
          plugin_steam_achievements_limit: 0
          plugin_steam_user: "76561198800048554"
          plugin_steam_token: ${{ secrets.STEAM_API_KEY }}


          # === Skipping Outliers ===
          # 1) Global skip (many plugins inherit this)
          repositories_skipped: |
            @use.patterns
            ammaar-alam/tigerlink
            ammaar-alam/cos-126
            ammaar-alam/cos-226
            ammaar-alam/doorUnlocker
            ammaar-alam/cos333-a*
            ammaar-alam/My_COS217_A*
            ammaar-alam/draw-calculator
          # 2) Languages plugin explicit skip (inherits global, but add for clarity)
          plugin_languages_skipped: |
            @use.patterns
            ammaar-alam/tigerlink
            ammaar-alam/cos-126
            ammaar-alam/cos-226
            ammaar-alam/doorUnlocker
            ammaar-alam/cos333-a*
            ammaar-alam/My_COS217_A*
            ammaar-alam/draw-calculator
          # 3) Lines plugin explicit skip
          plugin_lines_skipped: |
            @use.patterns
            ammaar-alam/tigerlink
            ammaar-alam/cos-126
            ammaar-alam/cos-226
            ammaar-alam/doorUnlocker
            ammaar-alam/cos333-a*
            ammaar-alam/My_COS217_A*
            ammaar-alam/draw-calculator
            ammaar-alam/My_COS217_A*
